name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"   # daily
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats
        uses: anuraghazra/github-readme-stats@master
        with:
          username: victorosamo
          token: ${{ secrets.GH_TOKEN }}
          show_icons: true
          theme: maroongold
          output_path: assets/github-stats.svg

      - name: Commit files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add assets/
          git commit -m "Update GitHub stats" || echo "No changes"
          git push
